<app-sidebar></app-sidebar>
<main>
    <div class="row mt-2" >
        <div class="col-12">
            <div  style="width: 40%; border: 1px solid #EC808D; color: #750036; background-color: #DAC0CF;
            text-align: center; margin:0px auto;    padding: 10px;">
                <b>Modulo de Detalles de Reparación del Vehiculos</b>
            </div>
        </div>
    </div>
    <div class="row mt-2" style="margin: auto;">
            <div *ngFor="let item of ListVehiculos" style="margin: auto;">
                <ng-container *ngFor="let v of vehiculos" style="margin: auto;">
                    <div class="lista m-3" style="text-align: center; margin: auto;" *ngIf="item.idVehiculoFactura.idVehiculo == v.idVehiculo.idVehiculo"> 
                        <div class="row" style="margin: auto;">
                            <div class="col-9 col-sm-9 col-md-4 col-lg-4 col-xl-4" style="text-align: center;margin: auto;">
                                <img class="imagen" src="{{item.idVehiculoFactura.imagenVehiculo}}" width="100px">
                                <p id="no"><b>Placa:</b>  {{item.placa}}</p> 
                            </div>
                            <div class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8">
                                <a id="no"><b>Marca: </b></a> {{item.idVehiculoFactura.marca}} <br>
                                <a id="no"><b>Modelo: </b></a> {{item.idVehiculoFactura.modelo}} <br>
                                <a id="no"><b>Tipo: </b></a> {{item.idVehiculoFactura.tipo}} <br>
                            </div>
                            <div class="col-12">
                                <button class="boton form-control" routerLink="detalles/{{item.idVehiculoReparacion}}" >Ver</button>
                            </div>
                        </div>
    
                    </div>
                </ng-container>
        </div>
    </div>
</main>