<app-sidebar></app-sidebar>
<main>
    <div class="row mt-3 mb-2" style="color: white;">
        <div  style="width: 90%; border: 1px solid #EC808D; color: #750036; background-color: #DAC0CF;">
            <b style="vertical-align: middle;">||DETALLES DE REPARACION DEL VEHICULO"</b>
          </div> 
    </div>
    <div class="row mb-3 mt-3">
            <div class="lista m-3" style="text-align: center;" *ngFor="let item of ListEtapas">
                <div class="row" *ngIf="item.idEtapaReparacion.nombre == 'Registro'">
                    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 mt-3 mb-3" style="text-align: center;margin: auto;">
                        <h4><b>Etapa:</b>  {{item.idEtapaReparacion.nombre}}</h4>
                        <a id="no"><b>Fecha de Registro: </b></a>{{item.fechaInicio | date }} <br>
                    </div>
                    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 mt-3 mb-3">
                        <b>Empleado:</b><br>
                        <a id="no"><b>Nombre: </b></a>{{item.idEmpleadoDetalle.nombre}} {{item.idEmpleadoDetalle.apellidos}}<br>
                        <a id="no"><b>Telefono: </b></a>{{item.idEmpleadoDetalle.telefono}}  <br>
                    </div>  
                </div>
                <div class="row" *ngIf="item.idEtapaReparacion.nombre == 'Inspeccion'">
                    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 mt-3 mb-3" style="text-align: center;margin: auto;">
                        <h4><b>Etapa:</b>  {{item.idEtapaReparacion.nombre}}</h4>
                        <a id="no"><b>Fecha de Inicio: </b></a>{{item.fechaInicio | date }} <br>
                        <a id="no"><b>Fecha de Fin: </b></a>{{item.fechaFin | date }} <br>
                    </div>
                    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 mt-3 mb-3">
                        <b>Empleado:</b><br>
                        <a id="no"><b>Nombre: </b></a>{{item.idEmpleadoDetalle.nombre}} {{item.idEmpleadoDetalle.apellidos}}<br>
                        <a id="no"><b>Telefono: </b></a>{{item.idEmpleadoDetalle.telefono}}  <br>
                    </div>  
                </div>
                <div class="row" *ngIf="item.idEtapaReparacion.nombre == 'Presupuesto'">
                    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 mt-3 mb-3" style="text-align: center;margin: auto;">
                        <h4><b>Etapa:</b>  {{item.idEtapaReparacion.nombre}}</h4>
                        <a id="no"><b>Costo final: </b></a>{{Suma}} <br>
                        <div class="col-12" style="text-align: center;  ">
                            <button style="width: 120px !important; height: 60px; margin: auto;" class=" boton form-control" routerLink="/reparacion/detalles/servicio/{{item.idDetalles}}">
                                <b>Ver Detalles</b>
                            </button>
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 mt-3 mb-3">
                        <b>Empleado:</b><br>
                        <a id="no"><b>Nombre: </b></a>{{item.idEmpleadoDetalle.nombre}} {{item.idEmpleadoDetalle.apellidos}}<br>
                        <a id="no"><b>Telefono: </b></a>{{item.idEmpleadoDetalle.telefono}}  <br>
                    </div> 
                </div>
                <div class="row" *ngIf="item.idEtapaReparacion.nombre == 'Autorización'">
                    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 mt-3 mb-3" style="text-align: center;margin: auto;">
                        <h4><b>Etapa:</b>  {{item.idEtapaReparacion.nombre}}</h4>
                        <a id="no"><b>Fecha de Registro: </b></a>{{item.fechaInicio | date }} <br>
                        <a id="no"><b>Fecha de Confirmacion: </b></a>{{item.fechaFin | date }} <br>
                        <a id="no"><b>Autorizado: </b></a>{{item.confirmarReparacion }} <br>
                    </div>
                    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 mt-3 mb-3">
                        <b>Empleado:</b><br>
                        <a id="no"><b>Nombre: </b></a>{{item.idEmpleadoDetalle.nombre}} {{item.idEmpleadoDetalle.apellidos}}<br>
                        <a id="no"><b>Telefono: </b></a>{{item.idEmpleadoDetalle.telefono}}  <br>
                    </div>  
                </div>
                <div class="row" *ngIf="item.idEtapaReparacion.nombre == 'Reparación'">
                    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 mt-3 mb-3" style="text-align: center;margin: auto;">
                        <h4><b>Etapa:</b>  {{item.idEtapaReparacion.nombre}}</h4>
                        <a id="no"><b>Fecha de Inicio: </b></a>{{item.fechaInicio | date }} <br>
                        <a id="no"><b>Fecha de Culminacion: </b></a>{{item.fechaFin| date }} <br>
                    </div>
                    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 mt-3 mb-3">
                        <b>Empleado:</b><br>
                        <a id="no"><b>Nombre: </b></a>{{item.idEmpleadoDetalle.nombre}} {{item.idEmpleadoDetalle.apellidos}}<br>
                        <a id="no"><b>Telefono: </b></a>{{item.idEmpleadoDetalle.telefono}}  <br>
                    </div>  
                </div>
                <div class="row" *ngIf="item.idEtapaReparacion.nombre == 'Control'">
                    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 mt-3 mb-3" style="text-align: center;margin: auto;">
                        <h4><b>Etapa:</b>  {{item.idEtapaReparacion.nombre}}</h4>
                        <a id="no"><b>Fecha de Control: </b></a>{{item.fechaInicio | date }} <br>
                        <a id="no"><b>Fecha de Confirmacion: </b></a>{{item.fechaFin | date }} <br>
                        <a id="no"><b>Autorizado: </b></a>{{item.confirmarReparacion }} <br>
                    </div>
                    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 mt-3 mb-3">
                        <b>Empleado:</b><br>
                        <a id="no"><b>Nombre: </b></a>{{item.idEmpleadoDetalle.nombre}} {{item.idEmpleadoDetalle.apellidos}}<br>
                        <a id="no"><b>Telefono: </b></a>{{item.idEmpleadoDetalle.telefono}}  <br>
                    </div>  
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" style="text-align: center;margin: auto;">
                        <div class="col-12" style="text-align: center;  " *ngIf="item.confirmarReparacion == false">
                            <button style="width: 120px !important; height: 60px; margin: auto;" class=" boton form-control" (click)="actualizarFase(item.idDetalles,item.idEtapaReparacion.idEtapas)">
                                <b>Autorizar</b>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="row" *ngIf="item.idEtapaReparacion.nombre == 'Entrega'" 
                style="text-align: center !important;">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mt-3 mb-3" style="text-align: center;margin: auto;" *ngIf="VehiculoReparacion.fechaSalida==null">
                        <h4><b>Etapa:</b>  {{item.idEtapaReparacion.nombre}}</h4>
                        <button style="width: 120px !important; height: 60px; margin: auto;" class=" boton form-control" (click)="entregar()">
                            <b>Confirmar Entrega</b>
                        </button>
                    </div>
                    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 mt-3 mb-3" style="text-align: center;margin: auto;" *ngIf="VehiculoReparacion.fechaSalida !==null">
                        <b>Empleado:</b><br>
                        <a id="no"><b>Nombre: </b></a>{{VehiculoReparacion.idEmpleadoFactura.nombre}} {{VehiculoReparacion.idEmpleadoFactura.apellidos}}<br>
                        <a id="no"><b>Telefono: </b></a>{{VehiculoReparacion.idEmpleadoFactura.telefono}}  <br>
                        <a id="no"><b>Proceso: </b></a>{{VehiculoReparacion.fase}}  <br>
                    </div>
                    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 mt-3 mb-3" style="text-align: center;margin: auto;" *ngIf="VehiculoReparacion.fechaSalida !==null">
                        <b>Propietario:</b><br>
                        <a id="no"><b>Nombre: </b></a>{{VehiculoReparacion.idPropietarioFactura.nombre}} {{VehiculoReparacion.idPropietarioFactura.apellidos}}<br>
                        <a id="no"><b>Telefono: </b></a>{{VehiculoReparacion.idEmpleadoFactura.telefono}}  <br>
                        <a id="no"><b>Fecha de Recogo: </b></a>{{VehiculoReparacion.fechaSalida | date}}  <br>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 mt-2 mb-2" style=" text-align: center !important;">
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 mt-2 mb-2" style=" text-align: center !important;">
                <div class="row">
                    <div class="col">
                        <button style="width: 180px !important; height: 60px; margin: auto;" class=" boton form-control"
                            data-toggle="modal" data-target="#exampleModalCenter" >
                            <b>Agregar Etapa</b>
                        </button>
                    </div>
                    <div class="col">
                        <button style="width: 180px !important; height: 60px; margin: auto;" class=" boton form-control" routerLink="/reparacion">
                           <b> Regresar</b>
                        </button>
                    </div>
                </div>
            </div>
        </div>
</main>
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle" style="margin: auto;">Registro de Etapas:</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
            <div class="modal-body">
                <div class="row " style="color: white;">
                    <div class="col-12" style="margin: auto;">
                        <form [formGroup]="EtapaForm">
                            <div class="row mb-5">
                                <div class="dato col-4">
                                    Tipo de Etapa:
                                </div>
                                <div class="col-8">
                                    <select class="form-control" id="sel1" formControlName="idEtapas" >
                                        <ng-container *ngFor="let e of etapas">
                                            <option [ngValue]="e.idEtapas">{{e.nombre}}</option>
                                        </ng-container>
                                    </select>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="row" style="color: white;" *ngIf="EtapaForm.value.idEtapas==1">
                    <div class="col-12">
                        <div class="row">
                            <div class="col-12">
                                <form [formGroup]="DetallesForm">
                                    <div class="row">
                                        <div class="dato col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
                                            Fecha de registro:
                                        </div>
                                        <div class="col-8 col-sm-8 col-md-8 col-lg-8 col-xl-8">
                                            <input type="date" class="form-control" formControlName="fechaInicio" >
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="col-5" style="text-align: center;">   
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mt-2 mb-2" style=" text-align: center !important;">
                            </div>
                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mt-2 mb-2" style=" text-align: center !important;">
                                <div class="row">
                                    <div class="col">
                                        <button class="boton form-control" (click)="crear()">Guardar</button>
                                    </div>
                                    <div class="col">
                                        <button class="boton form-control" data-dismiss="modal">Regresar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="color: white;" *ngIf="EtapaForm.value.idEtapas==2">
                    <div class="col-12">
                        <div class="row">
                            <div class="col-6">
                                <form [formGroup]="DetallesForm">
                                    <div class="row mb-5">
                                        <div class="dato col-9 col-sm-9 col-md-4 col-lg-4 col-xl-4">
                                            Fecha de Inicio:
                                        </div>
                                        <div class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8">
                                            <input type="date" class="form-control" formControlName="fechaInicio" >
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="col-6" style="text-align: center;">
                                <form [formGroup]="DetallesForm">
                                    <div class="row mb-5">
                                        <div class="dato col-9 col-sm-9 col-md-4 col-lg-4 col-xl-4">
                                            Fecha de Culminación:
                                        </div>
                                        <div class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8">
                                            <input type="date" class="form-control" formControlName="fechaFin" >
                                        </div>
                                    </div>
                                </form>   
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mt-2 mb-2" style=" text-align: center !important;">
                            </div>
                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mt-2 mb-2" style=" text-align: center !important;">
                                <div class="row">
                                    <div class="col">
                                        <button class="boton form-control" (click)="crear()">Guardar</button>
                                    </div>
                                    <div class="col">
                                        <button class="boton form-control" data-dismiss="modal">Regresar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    
                </div>
                <div class="row" style="color: white;" *ngIf="EtapaForm.value.idEtapas==3">
                    <div class="col-12">
                        <div class="row">
                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mt-2 mb-2" style=" text-align: center !important;">
                            </div>
                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mt-2 mb-2" style=" text-align: center !important;">
                                <div class="row">
                                    <div class="col">
                                        <button class="boton form-control" (click)="crear()">Guardar</button>
                                    </div>
                                    <div class="col">
                                        <button class="boton form-control" data-dismiss="modal">Regresar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="color: white;" *ngIf="EtapaForm.value.idEtapas==4">
                    <div class="col-12">
                        <div class="row">
                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mt-2 mb-2" style=" text-align: center !important;">
                            </div>
                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mt-2 mb-2" style=" text-align: center !important;">
                                <div class="row">
                                    <div class="col">
                                        <button class="boton form-control" (click)="crear()">Guardar</button>
                                    </div>
                                    <div class="col">
                                        <button class="boton form-control" data-dismiss="modal">Regresar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="color: white;" *ngIf="EtapaForm.value.idEtapas==5">
                    <div class="col-12">
                        <div class="row">
                            <div class="col-12">
                                <form [formGroup]="DetallesForm">
                                    <div class="row mb-5">
                                        <div class="dato col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
                                            Tiempo de Inicio:
                                        </div>
                                        <div class="col-8 col-sm-8 col-md-8 col-lg-8 col-xl-8">
                                            <input type="date" class="form-control" formControlName="fechaInicio" >
                                        </div>
                                    </div>
                                    <div class="row mb-5">
                                        <div class="dato col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
                                            Fecha de Culminación:
                                        </div>
                                        <div class="col-8 col-sm-8 col-md-8 col-lg-8 col-xl-8">
                                            <input type="date" class="form-control" formControlName="fechaFin" >
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="col-0" style="text-align: center;">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mt-2 mb-2" style=" text-align: center !important;">
                            </div>
                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mt-2 mb-2" style=" text-align: center !important;">
                                <div class="row">
                                    <div class="col">
                                        <button class="boton form-control" (click)="crear()">Guardar</button>
                                    </div>
                                    <div class="col">
                                        <button class="boton form-control" data-dismiss="modal">Regresar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="color: white;" *ngIf="EtapaForm.value.idEtapas==6">
                    <div class="col-12">
                        <div class="row">
                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mt-2 mb-2" style=" text-align: center !important;">
                            </div>
                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mt-2 mb-2" style=" text-align: center !important;">
                                <div class="row">
                                    <div class="col">
                                        <button class="boton form-control" (click)="crear()">Guardar</button>
                                    </div>
                                    <div class="col">
                                        <button class="boton form-control" data-dismiss="modal">Regresar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="color: white;" *ngIf="EtapaForm.value.idEtapas==7">
                    <div class="col-12">
                        <div class="row">
                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mt-2 mb-2" style=" text-align: center !important;">
                            </div>
                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mt-2 mb-2" style=" text-align: center !important;">
                                <div class="row">
                                    <div class="col">
                                        <button class="boton form-control" (click)="crear()">Guardar</button>
                                    </div>
                                    <div class="col">
                                        <button class="boton form-control" data-dismiss="modal">Regresar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="alert alert-danger alert-dismissible fade show" role="alert" [hidden]="error==null" style="width: 305px; margin: auto;">
                    <div style="text-align: center;">
                        {{error}}
                    </div>
                    <button type="button" class="close"aria-label="Close" (click)="ocultar()">
                        <span aria-hidden="true" style="color: black;">&times;</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>