main {
    color: rgb(218, 192, 207);
    margin-left: 5rem;
    padding: 1rem; 
}

@media only screen and (max-width:599px){

    main{
        margin-right: 0%;
        margin-left: 0%;
        margin-top: 5rem;
        width: 100%;
    }
}
.lista{
    flex: 25%;
    border: 1px solid #D7D2D4;
	border-radius: 20px;
    box-shadow: 5px 5px 5px #EC808D;
    padding-top: 5px;
    padding-bottom: 5px;
}
.lista2{
    flex: 10%;
    border: 1px solid #D7D2D4;
	border-radius: 20px;
    box-shadow: 5px 5px 5px #EC808D;
    padding-top: 5px;
    padding-bottom: 5px;
}
@media only screen and (max-width:730px){
    .lista{
        flex: 40%;
    }
    .lista2{
        flex: 30%;
    }
}
@media only screen and (max-width:540px){
    .lista{
        flex: 60%;
    }
    .lista2{
        flex: 60%;
    }
}
.boton{
    width: 120px !important;
    text-align: center !important;
    margin: auto !important;
    background-color: #daaeb3 !important;  
    border: 1px solid #FC7DB2 !important; 
    border-radius: 8px; 
    color: black !important;
}   
.col-4, .col-sm-9 ,.col-md-4 ,.col-lg-4 ,.col-xl-4,.col-12 ,.col-sm-12 ,.col-md-8 ,.col-lg-8 ,.col-xl-8,.col-6
.col-9 ,.col-md-4 ,.col-lg-4 ,.col-xl-4,.col-12 ,
.col-sm-12 ,.col-md-8 ,.col-lg-8 ,.col-xl-8,.col-6, .col-md-6 ,.col-lg-6 ,.col-xl-6
,.col-5 ,.col-7,.col-8,.col-md-6,.col-10{
    position: initial;
  }
  input{
    border: 1px solid #EC808D;
    background-color: #DAC0CF;
    width: 100%;
}
select{
    border: 1px solid #EC808D;
    background-color: #F2F2F2;
    width: 100%;
    color: #6D000E;
}
.form-control:disabled{
    background-color: #F2F2F2;
    color: #750036;
    font-weight: bold;
    border-color: 1px solid #EC808D;
}

.modal-body{
    color: #D7D2D4;
    background-color: #750036;
    border: 1px solid #EC808D;
}
.modal-header{
    color: #D7D2D4;
    background-color: #750036;
    border: 1px solid #EC808D;
}
.close{
    color: white;
}
.modal-footer{
    color: #D7D2D4;
    background-color: #750036;
    border: 1px solid #EC808D;
}